h1 {
    color: #fff;
  }

  .lead {
    color: #aaa;
  }

  .wrapper {
    margin: 10vh 5vh 10vh 5vh;

  }

  .card {
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 20px;
    min-height: 450px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 768px) {
    .card {
      min-height: 350px;
    }
    .wrapper h1{
      font-size: 25px;
    }
    .wrapper p{
      font-size: 14px;
    }
  }

  @media (max-width: 420px) {
    .card {
      min-height: 300px;

    }
    .wrapper h1{
      font-size: 25px;
    }
    .wrapper p{
      font-size: 14px;
    }
  }

  .card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: none !important;
  }

  .card-has-bg:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
  }

  .card-has-bg:hover {
    transform: scale(0.98);
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    filter: grayscale(40%);
  }

  .card-has-bg:hover .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: rgb(255, 186, 33);
    background: linear-gradient(0deg, rgba(255, 186, 33, 0.5) 0%, rgba(255, 186, 33, 1) 100%);
  }

  .card-footer {
    background: none;
    border-top: none;
  }

  .card-footer .media img {
    border: solid 3px rgba(255, 255, 255, 0.3);
  }

  .card-title {
    font-weight: 300;
  }

  .card-meta {
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
  }

  .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .card:hover .card-body {
    margin-top: 30px;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .card:hover {
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .explore_more_btn {
    border: 0;
    border-radius: 15px;
    background: #e6af5d;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
  }

  .explore_more_btn:hover{
    background-color: #c17d18;
  }

  .bg-card{
    background-size: cover;
    background-color: transparent !important;
  }
