<!-- who we are -->
<section class="py-5 pt-5" id="who">
  <div class="container">
    <div class="row gy-lg-6 align-items-center">
      <div class="col-lg-6 order-lg-1 imag">
        <img src="Who-we-are.jpg" alt="" class="img-fluid scrollright">
      </div>

      <div class="col-lg-6 order-lg-0 text-center text-lg-start scrollleft">
        <div class="title pt-3 pb-5">
          <h2 class="postion-relative d-inline-block ms-4">Who We Are</h2>
        </div>
        <p class="lead text-muted">We Believe Travel Is a Force for Good</p>
        <p>We are travelers and technologists. We work across time zones, hemispheres, cultures and languages. We’re
          used to breaking things down and building them back up again, until they’re even better. We know travel can be
          hard, but we also know that it’s worth it, every time. And because we believe travel is a force for good, we
          take our roles seriously. We’re here to build great products, and facilitate connections between travelers and
          our partners that truly bring good into the world.</p>
      </div>

    </div>
  </div>
</section>
<!-- end who -->

<!-- Travel with us -->
<section class="py-5" id="travel">
  <div class="container">
    <div class="row gy-lg-6 align-items-center">
      <div class="col-lg-6 order-lg-1 text-center text-lg-start scrollright">
        <div class="title pt-3 pb-5">
          <h2 class="postion-relative d-inline-block ms-4"> Travel With Us</h2>
        </div>
        <p class="lead text-muted">We believe in a world where everyone can be Well-Traveled</p>
        <p>No matter who you are, or where you are going, our travel brands help every type of traveler not only find
          the trip that’s right for them, but get the best value every time.</p>
      </div>
      <div class="col-lg-6 order-lg-0">
        <img src="Travel-With_us.jpg" alt="" class="img-fluid scrollleft">
      </div>
    </div>
  </div>
</section>
<!-- end travel -->

<!--Partner with us-->
<section class="py-5" id="Partner">
  <div class="container">
    <div class="title text-center py-5 scrollbutton">
      <h2 class="postion-relative d-inline-block">Partner With Us</h2>
      <p>We connect partners big and small to the universe of travelers, giving access to data, tools and technology
        that empowers, maximizes potential and builds their business.We connect partners with travelers who stay longer,
        cancel less, and spend more. Access them through our suite of travel brands, our industry-leading tools, and our
        massive B2B distribution network composed of over 60K businesses around the globe.⁴We deliver industry-leading
        tech capabilities designed to create more personalized experiences that match the right travelers with the right
        products — all while helping you tap into new revenue streams.</p>
    </div>

    <div class="Partner-list row container ustify-content-between align-items-center scrollbutton">
      <div class="partner-img overflow-hidden col-lg-4 col-md-6 p-2">
        <img src="partner (1).png" width="50%" height="50%" style="padding-bottom:20px ;">
      </div>
      <div class="partner-img overflow-hidden col-lg-4 col-md-6 p-2">
        <img src="partner (2).png" width="50%" height="50%" style="padding-bottom:20px ;">
      </div>
      <div class="partner-img overflow-hidden col-lg-4 col-md-6 p-2">
        <img src="partner (3).png" width="50%" height="50%" style="padding-bottom:20px ;">
      </div>
    </div>

    <div class="Partner-list row container ustify-content-between align-items-center scrollbutton">
      <div class="partner-img overflow-hidden col-lg-3 col-md-6 p-2">
        <img src="partner (4).png" width="70%" height="70%" style="padding-bottom:20px ;">
      </div>
      <div class="partner-img overflow-hidden col-lg-3 col-md-6 p-2">
        <img src="partner (5).png" width="70%" height="70%" style="padding-bottom:20px ;">
      </div>
      <div class="partner-img overflow-hidden col-lg-3 col-md-6 p-2">
        <img src="partner (6).png" width="70%" height="70%" style="padding-bottom:20px ;">
      </div>
      <div class="partner-img overflow-hidden col-lg-3 col-md-6 p-2">
        <img src="partner (7).png" width="70%" height="70%" style="padding-bottom:20px ;">
      </div>
    </div>
    <div class="Partner-list row container ustify-content-between align-items-center scrollbutton">
      <div class="partner-img overflow-hidden col-lg-3 col-md-6 p-2">
        <img src="partner (8).png" width="70%" height="70%" style="padding-bottom:20px ;">
      </div>
      <div class="partner-img overflow-hidden col-lg-3 col-md-6 p-2">
        <img src="partner (9).png" width="70%" height="70%" style="padding-bottom:20px ;">
      </div>
      <div class="partner-img overflow-hidden col-lg-3 col-md-6 p-2">
        <img src="partner (10).png" width="70%" height="70%" style="padding-bottom:20px ;">
      </div>
      <div class="partner-img overflow-hidden col-lg-3 col-md-6 p-2">
        <img src="partner (11).png" width="70%" height="70%" style="padding-bottom:20px ;">
      </div>
    </div>
    <div class="Partner-list row container ustify-content-between align-items-center scrollbutton">
      <div class="partner-img overflow-hidden col-lg-4 col-md-6 p-2">
        <img src="partner (12).png" width="50%" height="50%" style="padding-bottom:20px ;">
      </div>
      <div class="partner-img overflow-hidden col-lg-4 col-md-6 p-2">
        <img src="partner (13).png" width="50%" height="50%" style="padding-bottom:20px ;">
      </div>
      <div class="partner-img overflow-hidden col-lg-4 col-md-6 p-2">
        <img src="partner (15).png" width="50%" height="50%" style="padding-bottom:20px ;">
      </div>
    </div>

  </div>
</section>
<!-- end of Partner with us -->

<!-- media -->
<section class="pt-3" id="media">
  <div class="container">
    <div class="row d-flex align-items-center text-center justify-content-center">
      <div class="media-content">
        <h2 class="mb-5 text-dark text-center scroll-with-rotation">Welcome To Our Social Media</h2>
      </div>
      <div class="row scrollbutton">
        <div class="social">
          <a href="#">
            <i class="fa-brands fa-facebook-f "></i>
          </a>
          <a href="#">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of offers -->

<!-- blogs -->
<section class="py-5" id="Blogs">
  <div class="container">
    <div class="title text-center py-5">
      <h2 class="postion-relative d-inline-block scrollbutton">Our latest blog</h2>
    </div>

    <div class="row g-3">
      <div class="card border-0 col-md-6 col-lg-4 bg-transparent my-3 scrollbutton">
        <img src="blog (1).jpg" alt="">
        <div class="card-body px-0">
          <h4 class="card-title">A trip to Dahab.</h4>
          <p class="card-text mt-3 text-muted">Dahab is a small coastal town located on the southeast coast of the Sinai
            Peninsula in Egypt. Known for its stunning beaches, crystal-clear waters, and relaxed atmosphere, Dahab is a
            favorite destination for travelers seeking both adventure and tranquility. The town offers world-class
            diving and snorkeling spots, particularly around the Blue Hole, one of the most famous dive sites in the
            world. Dahab’s vibrant culture, combined with its picturesque landscapes and golden sandy beaches, make it a
            unique place where visitors can enjoy outdoor activities like windsurfing, hiking in the nearby mountains,
            or simply relaxing by the sea.</p>
          <p class="card_text">
            <small class="text-muted">
              <span class="fw-bold">Author:</span> Alyasmina Hamed
            </small>
          </p>
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
      <div class="card border-0 col-md-6 col-lg-4 bg-transparent my-3 scrollbutton">
        <img src="blog (2).jpg" alt="">
        <div class="card-body px-0">
          <h4 class="card-title">Nile cruise.</h4>
          <p class="card-text mt-3 text-muted">The Nile River, the longest river in the world, flows through
            northeastern Africa and has been the lifeblood of civilizations for thousands of years. Stretching over
            6,600 kilometers, the Nile is crucial to the countries it passes through, particularly Egypt and Sudan,
            where it provides fertile land for agriculture and sustains millions of people. Along its banks, ancient
            history comes to life with iconic landmarks such as the Pyramids of Giza and the temples of Luxor. The Nile
            not only nourishes the land but also offers a serene beauty, with its calm waters and lush green
            surroundings creating a peaceful and picturesque landscape that has captivated travelers for centuries.</p>
          <p class="card_text">
            <small class="text-muted">
              <span class="fw-bold">Author:</span> Mahmoud Hamed
            </small>
          </p>
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
      <div class="card border-0 col-md-6 col-lg-4 bg-transparent my-3 scrollbutton">
        <img src="blog.jpg" alt="">
        <div class="card-body px-0">
          <h4 class="card-title">A trip to Luxor.</h4>
          <p class="card-text mt-3 text-muted">Luxor, often referred to as the world's greatest open-air museum, is a
            city in southern Egypt that boasts an extraordinary collection of ancient temples, tombs, and monuments.
            Luxor was once the ancient city of Thebes, the capital of Egypt during the height of its empire. Today,
            visitors can explore iconic sites such as the Karnak Temple, the Luxor Temple, and the Valley of the Kings,
            where many pharaohs, including Tutankhamun, were laid to rest. The city offers a unique glimpse into Egypt's
            rich history and serves as a hub for those seeking to immerse themselves in the wonders of ancient Egyptian
            civilization. Luxor is a must-visit destination for history lovers and travelers alike..</p>
          <p class="card_text">
            <small class="text-muted">
              <span class="fw-bold">Author:</span> Ebrahim Hamed
            </small>
          </p>
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of blogs -->




<!-- news letter -->
<section class="py-5" id="newsletter">
  <div class="container">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <div class="title text-center pt-3 pb-5">
        <h2 class="positon-relative d-inline-block ms-4 scrollleft">now text to us
        </h2>
      </div>

      <p class="text-center text-muted scrollright">
        "Of course! We are eagerly waiting for your email with your upcoming plans for a special trip. We’d love to know
        the details about the destination, dates, and the activities you’re planning. The clearer the information, the
        more organized and exciting the experience will be. We’re excited to hear about it!".</p>
      <div class="input-group mb-3 mt-3 scrollleft">
        <input type="text" class="form-control" placeholder="Enter Your Email .....">
        <button class="btn" type="submit">Subscribe</button>
      </div>
    </div>
  </div>
</section>
<!-- end of news letter -->
