<!-- Footer Section -->
<footer class="bg-dark text-light pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      <h5>About Us</h5>
      <p>
        At RAHAL GROUP, we create unique travel experiences. We offer tailored tours through Egypt's most beautiful
        destinations, from historical treasures to modern landscapes, ensuring unforgettable journeys.
      </p>
    </div>

    <div class="col-md-4 social">
      <h5>Follow Us</h5>
      <a href="#" class="text-light me-5"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#" class="text-light me-5"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
    </div>
<div class="col-md-4 social">
      <img src="Untitled-15.png" class="img-fluid" width="200px" alt="">
    </div>

  </div>


  <div class="row mt-3">
    <div class="col text-center">
      <p class="mb-2">All Rights Reserved © 2024 | RAHAL GROUP</p>
    </div>
  </div>
  </div>
</footer>
