<nav class="navbar navbar-expand-lg ">
  <div class="container body-nav">
    <a class="navbar-brand" href="#">
      <img src="Untitled-15.png" width="100px" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fa-solid fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Services
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" routerLink="/booking">Hotel Booking</a></li>
                    <li><a class="dropdown-item" routerLink="/tours">Tours</a></li>
                    <li>
                        <hr class="dropdown-divider bg-light">
                    </li>
                    <li><a class="dropdown-item" routerLink="/aboutegy">About Egypt</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/allblog">Posts</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/blog"><i class="fa-regular fa-user"></i></a>
          </li>
        </ul>
    </div>
  </div>
</nav>
