<section class=" ">
  <form (ngSubmit)="login()">
    <h2>Login</h2>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control" required>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <button type="submit" class="btn">Login</button>
  </form>

</section>
