<div class="side d-flex flex-column flex-shrink-0 " style="width: 200px;">
  <a href="/" class="d-flex align-items-center  mt-3 ms-5 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <img src="Untitled-15.png" class="img-fluid" width="100px" alt="">
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item pe-3 ps-3">
      <a  class="nav-link active btn" data-bs-toggle="modal" data-bs-target="#newPostModal" aria-current="page">
          Add New Post
          <i class="fa-solid fa-plus"></i>
      </a>

    </li>
    <li>
      <a class="nav-link link-body-emphasis">
        <button (click)="logout()" class="btn btn-danger">Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></button>
      </a>
    </li>
  </ul>
  <hr>
</div>
